/** CSS Reset */
/* You can keep or remove this, if you'd like */
*,
*::before,
*::after {
  box-sizing: border-box;
}


#typing {
  vertical-align: top;
  color: white;
  font-size: 25px;
  background-color: transparent;
  /* background-color:  rgb(52, 52, 52); */
  border-width:2px;
  border-style:solid;
  border-color:rgb(255, 255, 255);
  width: 1153px;
  height: 35px;
  /* margin-top: -85px; */
}
* {
  margin: 0;
  color: var(--text-color);
  background-color: var(--main-background);
}
p {
  color: white;
  font-size: 25px;
}

/** You can define your own CSS variables here */
:root {
  /** Example: */
  --text-color: white;
  --main-background: rgb(52, 52, 52);
}

/** Project styling */

/** Your styles go here */